<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css"> 
    <title>Book App</title>
</head>

<header>Best Books!</header>

<form action="/searches" method="POST">
  <fieldset>

    <legend>Search by Title of Author</legend>
    <div id="form">
      <label>
        <input type="text" name="search" placeholder="Enter a title or author" id="search">
      </label>

      <label class="radio">
        <span>Title</span>
        <input type="radio" name="search_type" value="title">
      </label>

      <label class="radio">
        <span>Author</span>
        <input type="radio" name="search_type" value="author">
      </label>

      <button>Search the Google Books API</button>
    </div>
  </fieldset>
</form>
<footer></footer>
</body>
</html>



