<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Book App</title>
</head>

<body>
  <header><a href="/">📚 Best Books! 📚</a></header>

  <main>
    <form action="/searches" method="POST">
      <fieldset class="flex-container">

        <legend>Search by Title of Author</legend>
        <label>
          <input type="text" name="search" placeholder="Enter a title or author" id="search">
        </label>

        <label class="radio">
          <span>Title</span>
          <input type="radio" name="search_type" value="title">
        </label>

        <label class="radio">
          <span>Author</span>
          <input type="radio" name="search_type" value="author">
        </label>

        <button>Search the Google Books API</button>
      </fieldset>
    </form>
  </main>

  <footer></footer>
</body>

</html>