<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <section>
            <h1 id="error">404</h1>
            <p>Oops, this page doesn't exist.</p>
            <p><a href="searches/new"> Return Home </a></p>
        </section>
    </main>
    <footer></footer>
</body>

</html>