<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <section>
            <h1 id="error">Error</h1>
            <p>Oops, something went wrong.
                <br><br><a href="searches/new"> Try your search again. </a></p>
        </section>
    </main>
    <footer></footer>
</body>

</html>