@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
}

body {
    background-color: white;
    text-align: center;
    color: black;
}

header {
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    font-size: 1.3rem;
}

header a {
    color: inherit;
    text-decoration: inherit;
}