
/* Form  */

legend {
    margin: 25px auto;
}

#search {
    border: 0;
    width: 100%;
}

label {
    width: 100%;
    margin: 15px;
    padding: 5px;
    border: 1px dashed grey;
}

.radio {
    text-align:left;
}

/* Button */

button {
    height: 3rem;
    background: firebrick;
    color: white;
    margin: 10px auto;
    border: 0;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: white;
    color: firebrick;
}

/* Books */

section {
    margin: 20px auto;
    border: 3px dashed lightgrey;
    padding: 10px;
}

h2 {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
    color: firebrick;
}

h3 {
    padding: 10px;
    font-weight: 500;
}

h4 {
    font-size: .9rem;
    margin: 15px;
    padding: 5px;
}

p {
    padding: 10px;
    font-size: .8rem;
    overflow: auto;
    max-height: 15vh;
    margin: 10px;
}

img {
    margin: 10px;
}

/* Error */

#error {
    color: firebrick;
}