form {
    margin: 0 auto;
    width: 100%;
}


form legend{
 width: 100%;
 line-height: 7.6vh;
 background-color:lightgray;
}

form .radio, form #search{
    display: block;
    text-align: left;
    height: 7.0vh;
    line-height: 7.0vh;
    width: 80vw;
    color: black;
    margin: 20px auto;
    padding: 5px;
    background-color: lightgray;
    border-radius: 3px;
}

#form {
    padding: 15px;
}

 form #search {
    border: 0;
    background-color: white;
}

button {
    width: 80vw;
    padding: 5px;
    line-height: 7.5vh;
    border-radius: 3px;
    color: darkred;
    background-color: black;
}

header, footer {
    background-color: black;
}

header {
    line-height: 5vh;
    width: 100%;
    left: 0;
    top: 0;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 5vh;
}


section {
    padding: 5vh;
    margin: 10%;
    background-color: lightgrey;
    height: 500px;
    border-radius: 3px;
}

p {
    height: 50px;
    overflow:scroll;
}

img {
    width: 60vw;
}