
/* Form  */

legend {
    margin: 25px auto;
}

#search {
    border: 0;
    width: 100%;
}

label {
    width: 100%;
    margin: 15px;
    padding: 5px;
    border: 1px dashed grey;
}

.radio {
    text-align:left;
}

/* Button */

button {
    height: 3rem;
    background: firebrick;
    color: white;
    margin: 10px auto;
    border: 0;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

button:hover {
    background-color: white;
    color: firebrick;
}

/* Books */

section {
    margin: 20px auto;
    border: 3px dashed lightgrey;
    padding: 10px;
}

h2 {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
    color: firebrick;
}

h3 {
    padding: 10px;
    font-weight: 500;
}

h4 {
    font-size: .9rem;
    margin: 15px;
    padding: 5px;
}

p {
    padding: 10px;
    font-size: .8rem;
    overflow: auto;
    max-height: 15vh;
    margin: 10px;
}

img {
    margin: 10px;
}

/* Hide extra info on detail page */
#detail #showDetails, #detail #saveBook {
    display: none;
}

/* Hide extra info on index page */
#index #saveBook, #index #isbn, #index #editButton, #index #deleteForm {
    display: none;
}

/* Hide extra info on show page */
#show #isbn, #show #showDetails, #show input, #show #editButton, #show #deleteForm   {
    display: none;
}

/* Error */
#error {
    color: firebrick;
}

/* Badge */
#badge {
    overflow: auto;
    border-radius: 100%;
    color: #fff;
    background: darkcyan;
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15vh 5vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Book Edit Form */

#editForm {
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#editForm fieldset {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
}

#editForm input,  #editForm textarea {
    width: 100%;
    margin: 5px;
    font-size: .8rem;
    resize: none;
}

#editForm button {
    width: 80%;
    margin: 25px auto;
}